// COLOR VARS

$titan-buff-dark: #D9CBAD;
$titan-buff-light: #FCF4E3;
$mars-black: #161617;
$green-earth: #2E342B;
$white: #FFF;

// BOOTSTRAP IMPORT AND CHANGES

$dropdown-bg: $mars-black;
$dropdown-color: $titan-buff-light;
$dropdown-link-color: $titan-buff-light;
$dropdown-link-hover-bg: $green-earth;
$dropdown-link-active-bg: $titan-buff-light;
$dropdown-link-active-color: $mars-black;

@import "../node_modules/bootstrap/scss/bootstrap";

// TEXT SHADOW

$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0
}

// ABSOLUTE CENTRALIZED POSITIONING 

@mixin absolute-positioning-center {
  gap: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// FONT MIXINS

@mixin footer-header {
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;
  @extend .px-3;
  @extend .py-2;
  height: 4rem;
}

@mixin montserrat-big {
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@mixin montserrat-medium {
  font-family: Montserrat;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin montserrat-small {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

@mixin playfair-big {
  font-family: 'Playfair', serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@mixin luxurious-script-medium {
  font-family: "Luxurious Script";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// HEADER

.header {
  @extend .sticky-top;
  background: $titan-buff-dark;
  @include footer-header;
}

.header__img {
  max-width: 50px;
}

// WELCOME SECTION

.welcome {
  @extend .position-relative;
  @extend .d-flex;
  height: 30rem;
}


.welcome video {
  @extend .w-100;
  @extend .align-items-center;
  @extend .object-fit-cover;
  background-color: $mars-black; 
}


.welcome__textbox {
  @extend .position-absolute;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .justify-content-center;
  @include absolute-positioning-center;
}

.welcome__headerfont {
  @extend .m-0;
  color: $titan-buff-light;
  text-shadow: $text-shadow;
  @extend .text-center;
  @include playfair-big;
}

.welcome__sub-headerfont {
  @extend .m-0;
  color: $titan-buff-light;
  @extend .text-center;
  text-shadow: $text-shadow;
  @include luxurious-script-medium;
}

// CONTENT

.content {
  @extend .row;
  @extend .g-0;
  min-height: 30rem;
  background-color: $mars-black;
}

.content__contentbox__container {
  @extend .col;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
}

.content__contentbox {
  max-width: 20rem;
  @extend .m-5;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
  @extend .align-items-end;
  @extend .gap-3;
}

.content__contentbox__img {
  @extend .w-100;
}

.content__contentbox__text {
  color: $white;
  @include montserrat-medium;
  @extend .text-end;
}

.content__img__container {
  @extend .col;
}

.content__img {
  @extend .object-fit-cover;
  @extend .w-100;
  @extend .h-100;
}

// FOOTER

.footer {
  background: $mars-black;
  @include footer-header;
}

.footer__contact-me {
  color: $white;
  @extend .justify-content-center;
  @extend .align-items-center;
  @include montserrat-medium;
}

.footer__some-icons {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .gap-5;
}

// UNDERFOOTER

.underfooter {
  background-color: $green-earth;
  @extend .d-flex;
  @include footer-header;
  justify-content: center !important;
  height: 3rem;
}

.underfooter__text {
  color: $white;
  @include montserrat-small;
}

// RESPONSIVENESS 

@include media-breakpoint-down(md) {
  .content__contentbox {
    max-width: 10rem;
  }

  .content__contentbox__text {
    @include montserrat-small;
  }

}






