{% extends "base.html" %} {% block content %}

<div class="welcome">
	<video
		class="video"
		src="/videos/artwork-intro.mp4"
		autoplay
		muted
		loop
		playsinline
	></video>
	<div class="welcome__textbox">
		<h1 class="welcome__headerfont">Finding Your Purpose Through Art.</h1>
		<h2 class="welcome__sub-headerfont">
			Create your journey at Artwork Agile
		</h2>
	</div>
</div>
<div class="content">
	<img src="images/content-bg.png" />
	<div class="content__contentbox__container">
		<div class="content__contentbox">
			<img src="images/art-agile-text-transparent_gold_ochre.png" />
			<p class="content__contentbox__text">
				We are a community of passionate artists and productivity
				enthusiasts, dedicated to blending creativity with efficiency.
				<br /><br />
				Our work explores the intersection of art and agile
				methodologies, striving to foster inspiration while maximizing
				productivity.
			</p>
		</div>

		{% endblock content %}
	</div>
</div>
